<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Blog</title>
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index" class="nav-brand">MyBlog</a>

        <div class="nav-links">
            <a asp-controller="AppUser" asp-action="Profile">Account</a>
            <a asp-controller="AppUser" asp-action="Login">Login</a>
            <a asp-controller="AppUser" asp-action="Register">Register</a>

            <!-- Login olanda görsənəcək -->
            <!-- <a href="favorites.html">Favorites</a>
            <a href="profile.html">Profile</a>
            <a href="#" id="logoutBtn">Logout</a> -->
        </div>
    </nav>

    <div class="container">
        <div class="container">
            @RenderBody()
    </div>

        @* <script src="~/assets/js/post.js"></script>
        <script src="~/assets/js/script.js"></script>
        <script src="~/assets/js/auth.js"></script> *@
        @await RenderSectionAsync("Scripts", required: false)
        <script></script>
</body>
</html>